.list_of_cats ul li{
    cursor: pointer;
    margin-bottom: 7px;
    padding: 3px 4px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.list_of_cats ul li.hover{
    background: #ff9013 !important;
}

.list_of_cats ul li.dropped{
    box-shadow: 0 0 17px 5px #34d408;
}

.list_of_cats ul li i{
    font-size: 11px;
    margin-left: 10px;
}

.list_of_cats ul{
    list-style: none;
    padding-left: 15px;
}

.list_of_cats ul ul{
    display: none;
}

.list_of_cats ul li.active + ul{
    display: block;
}

.list_of_cats > ul{
    padding-left: 0;
}

.list_of_cats{
    margin-top: 20px;
}